body{
    background-color: rgb(253, 192, 233);
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /*Widh- ancho    heigth-alto*/
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    /*Justificar hacia la derecha- end*/
    justify-content: flex-end;
}

/*list style:quitar viñetas */
/**/
header nav .nav-right-section{
    width: 250px;
    height: auto; 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right: 15px;
    color: darkmagenta;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px; 
    background-size: contain;
}


nav .nav-right-section img{
    border-radius: 60px;
    margin-left: 20px;
    width:35px;
    height: 35px;
}
main {
    margin-top: 150px;
    text-align: center;
}

/*Sección logo*/
main .logo-google{
    width: 530px;
    margin:0 auto;
    margin-bottom: 35px;
} 

/*Logo google*/
main .logo-google img{
    height: 120px;
}

/*Sección input*/
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #e617c0;
    display: flex;
    justify-content:center;
    align-items: center;
}

main .main-input input{
    border: none;
    width: 550px;
    height: 40px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0px#e5099c47;
    border-color: #a00cef00;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*Evitar que se reptita el icono*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    padding-left: 1%;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 7% ;
}

main .main-buttons{
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 36px;
    /*Fondo de botones*/
    background-color: rgb(232, 17, 221);
    font-size: 13px;
    /*Color de letras antes de hover*/
    color: rgb(254, 254, 254);
    /*Redondear botones*/
    border-radius: 4px;
    /*Margen interno*/
    padding: 0 15px;
    /*Margen entre botones*/
    margin-right: 5px;
    border: 1px solid #f8f9fa;
}
/*Efecto hover*/
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
    background-color: #f8f9fa;
    /*Cambiar borde al hacer hover */
    border: 1px solid #ac6e9b;
    /*Cambia color de letras (muy leve) al hacer hover(pasar el cursor por encima del botón*/
    color: #2754dbd3;
    cursor:pointer;
}

/* Footer */

footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    border-top: 1 px solid #e4e4e4;

/* Footer divisor de columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
/*Posisionar footer al final */
    bottom: 0%;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 100px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}